<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/socket.io/socket.io.js"></script>

    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #ffffff; /* Set the overall background color to white */
        }

        .chat-container {
            max-width: 600px;
            width: 100%;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
        }

        .message {
            background-color: #3498db;
            color: #ffffff;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            display: table; /* Display as table to match the width of each message */
            width: auto; /* Set width to auto for flexibility */
        }

        #tekst_poruke {
            width: calc(100% - 22px);
            margin-bottom: 10px;
        }


        .message-container {
            max-height: 300px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        .my-message {
            background-color: #3498db;
            color: #ffffff;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        .other-message {
            background-color: #2ecc71;
            color: #ffffff;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        }


        .my-message {
            align-self: flex-end;
        }

        .other-message {
            align-self: flex-start;
        }

    </style>
</head>
<body>
<div class="container chat-container">
    <div id="poruke" class="message-container">


    <% for (let i = 0; i < poruke.length; i++) { %>
        <% const poruka = poruke[i]; %>
        <% if(poruka.posiljalac_id == id) { %>
                <div class="other-message">
                    <div><%= poruke[i].tekst_poruke %></div>
                </div>
        <% } else { %>
                <div class="my-message">
                    <div><%= poruke[i].tekst_poruke %></div>
                </div>
        <% } %>

    <% } %>
    </div>
        <input type="text" id="tekst_poruke" class="form-control" placeholder="Unesite poruku">
        <button class="btn btn-primary" onclick="saljiPoruku('<%= id %>', '<%= moj_id %>')">Pošalji</button>

</div>

<script>
    var socket = io.connect('ws://localhost:3000');

    socket.on('poruka_sa_servera', function (novaPoruka) {
        document.getElementById('poruke').innerHTML += `<div class="${novaPoruka.posiljalac_id === '<%= moj_id %>' ? 'my-message' : 'other-message'}">${novaPoruka.tekst_poruke}</div>`;

        scrollMessageContainerToBottom();
    });

    socket.on(`sve_poruke_${id}`, function (novaPoruka) {
        document.getElementById('poruke').innerHTML += `<div class="${novaPoruka.posiljalac_id === '<%= moj_id %>' ? 'my-message' : 'other-message'}">${novaPoruka.tekst_poruke}</div>`;

        scrollMessageContainerToBottom();
    });


    function scrollMessageContainerToBottom() {
        var messageContainer = document.getElementById('poruke');
        messageContainer.scrollTop = messageContainer.scrollHeight;
    }

    function saljiPoruku(id, moj_id) {
        let tekst = document.getElementById('tekst_poruke').value;
        socket.emit('klijent_salje_poruku', tekst, id, moj_id);
        document.getElementById('tekst_poruke').value = "";

    }
</script>
</body>
</html>
